<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .link {
        fill: none;
        stroke: #666;
        stroke-width: 1.5px;
    }

    #licensing {
        fill: green;
    }

    .link.licensing {
        stroke: green;
    }

    .link.resolved {
        stroke-dasharray: 0, 2 1;
    }

    circle {
        fill: #ccc;
        stroke: #333;
        stroke-width: 1.5px;
    }

    text {
        font: 12px Microsoft YaHei;
        pointer-events: none;
        text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    }

    .linetext {
        font: 12px Microsoft YaHei;
    }

</style>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/static/js/jquery-3.3.1.js"></script>
<body>

</body>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: 'post',
            url: '/query_super',
            success: function (data) {
                console.log(data)
                load_d3(JSON.parse(data))
            },
            error: function (jqXHR) {
                alert("查询失败")
            }
        })
    })
</script>
<script>
    function load_d3(links) {
        var width = 1560,
        height = 800;
        console.log(links)
        var nodes = {};

        links.forEach(function (link) {
            link.source = nodes[link.source] || (nodes[link.source] = {name: link.source});
            link.target = nodes[link.target] || (nodes[link.target] = {name: link.target});
        });
        var zoom = d3.behavior.zoom()
            .scaleExtent([1, 10])
            .on("zoom", zoomed)
        var force = d3.layout.force()//layout将json格式转化为力学图可用的格式
            .nodes(d3.values(nodes))//设定节点数组
            .links(links)//设定连线数组
            .size([width, height])//作用域的大小
            .linkDistance(60)//连接线长度
            .charge(-100)//顶点的电荷数。该参数决定是排斥还是吸引，数值越小越互相排斥
            .on("tick", tick)//指时间间隔，隔一段时间刷新一次画面
            .start();//开始转换

        var svg_body = d3.select("body").append("svg")
            .attr("width", width)
            .attr("height", height);
        var svg = svg_body.append("g").call(zoom).append("g")
        svg.append("rect")
            .attr("class", "overlay")
            .attr("width", width)
            .attr("height", height)
            .attr("fill", "#ffffff");
        //设置连接线
        var edges_line = svg.selectAll(".edgepath")
            .data(force.links())
            .enter()
            .append("path")
            .attr({
                'd': function (d) {
                    return 'M ' + d.source.x + ' ' + d.source.y + ' L ' + d.target.x + ' ' + d.target.y
                },
                'class': 'edgepath',
                'id': function (d, i) {
                    return 'edgepath' + i;
                }
            })
            .style("stroke", "#000000")
            .style("pointer-events", "none")
            .style("stroke-width", 0.5)//线条粗细

        var edges_text = svg.append("g").selectAll(".edgelabel")
            .data(force.links())
            .enter()
            .append("text")
            .style("pointer-events", "none")
            .attr({
                'class': 'edgelabel',
                'id': function (d, i) {
                    return 'edgepath' + i;
                },
                'd': 100,
            });

        //设置线条上的文字
        edges_text.append('textPath')
            .attr('xlink:href', function (d, i) {
                return '#edgepath' + i
            })
            .style("pointer-events", "none")
            .text(function (d) {
                return d.rela;
            });

        //圆圈
        var circle = svg.append("g").selectAll("circle")
            .data(force.nodes())//表示使用force.nodes数据
            .enter().append("circle")
            .style("fill", function (d) {
                var color = "#F6E8E9";
                if (d.type == 'per') {
                    color = "#3dcc2d"
                }
                return color;
            })
            .style('stroke', "#B43232")
            .attr("r", 10)//设置圆圈半径
            .on("click", function (node) {
                //单击时让连接线加粗
                edges_line.style("stroke-width", function (line) {
                    console.log(line);
                    if (line.source.name == node.name || line.target.name == node.name) {
                        return 4;
                    } else {
                        return 0.5;
                    }
                });

            })
            .call(force.drag);//将当前选中的元素传到drag函数中，使顶点可以被拖动

        //圆圈的提示文字
        {#circle.append("svg:title")#}
        {#    .text(function (node) {#}
        {#        var link = links[node.index];#}
        {#        if (node.name == link.source.name && link.rela == "主营产品") {#}
        {#            return "双击可查看详情"#}
        {#        }#}
        {#    });#}

        var text = svg.append("g").selectAll("text")
            .data(force.nodes())
            //返回缺失元素的占位对象（placeholder），指向绑定的数据中比选定元素集多出的一部分元素。
            .enter()
            .append("text")
            .attr("dy", ".35em")
            .style('font-size',1)
            .attr("text-anchor", "middle")//在圆圈中加上数据
            .style('fill', "#B43232").attr('x', function (d) {
                // console.log(d.name+"---"+ d.name.length);
                var re_en = /[a-zA-Z]+/g;
                //如果是全英文，不换行
                if (d.name.match(re_en)) {
                    d3.select(this).append('tspan')
                        .attr('x', 0)
                        .attr('y', 2)
                        .text(function () {
                            return d.name;
                        });
                }
                //如果小于四个字符，不换行
                else if (d.name.length <= 4) {
                    d3.select(this).append('tspan')
                        .attr('x', 0)
                        .attr('y', 2)
                        .text(function () {
                            return d.name;
                        });
                } else {
                    var top = d.name.substring(0, 4);
                    var bot = d.name.substring(4, d.name.length);

                    d3.select(this).text(function () {
                        return '';
                    });

                    d3.select(this).append('tspan')
                        .attr('x', 0)
                        .attr('y', -7)
                        .text(function () {
                            return top;
                        });

                    d3.select(this).append('tspan')
                        .attr('x', 0)
                        .attr('y', 10)
                        .text(function () {
                            return bot;
                        });
                }
            });

        function tick() {
            //path.attr("d", linkArc);//连接线
            circle.attr("transform", transform1);//圆圈
            text.attr("transform", transform2);//顶点文字

            edges_line.attr('d', function (d) {
                var path = 'M ' + d.source.x + ' ' + d.source.y + ' L ' + d.target.x + ' ' + d.target.y;
                return path;
            });

            edges_text.attr('transform', function (d, i) {
                if (d.target.x < d.source.x) {
                    bbox = this.getBBox();
                    rx = bbox.x + bbox.width / 2;
                    ry = bbox.y + bbox.height / 2;
                    return 'rotate(180 ' + rx + ' ' + ry + ')';
                }
                else {
                    return 'rotate(0)';
                }
            });
        }

        //设置连接线的坐标,使用椭圆弧路径段双向编码
        function linkArc(d) {
            return 'M ' + d.source.x + ' ' + d.source.y + ' L ' + d.target.x + ' ' + d.target.y
        }

        //设置圆圈和文字的坐标
        function transform1(d) {
            return "translate(" + d.x + "," + d.y + ")";
        }

        function transform2(d) {
            return "translate(" + (d.x) + "," + d.y + ")";
        }


        function zoomed() {
            d3.select(this).attr("transform",
                "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
        }
    }
</script>
</html>